$medpult-bg-color: #f2f4f6;
$medpult-panel-color: white;
$medpult-hover-color: #f8f8f8;
$medpult-field-border-color: #d9d9d9;
$medpult-blue-active-color: #64c3f4;
$medpult-blue-link-color: #5295fa;
$medpult-alert-color: #ff0505;